<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ben Juice</title>
</head>
<body>
<main class="content" th:fragment="form-add-category(categoryRequest)">

    <div class="container-fluid p-0">
        <div class="card">
            <h1 class="text-center mt-3">Add New Category</h1>
            <form th:action="@{/category/create}" method="post" th:object="${categoryRequest}"
                  style="max-width: 30rem; margin: 0 auto" class="p-4 mt-2">
                <div class="mb-3">
                    <label for="name" class="form-label">Category Name</label>
                    <input type="text" class="form-control" th:field="*{name}">
                    <span style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descriptions</label>
                    <textarea class="form-control" rows="3" th:field="*{description}"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>

</main>
</body>
</html>