<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

    <!-- Link Css Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Link Css -->
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
<div class="container py-5 my-5 rounded-5" style="background-color: #ffffff; max-width: 37rem;">
    <h1 class="text-center">Đăng ký</h1>
    <hr>
    <form action="/auth/do-sign-up" method="post" th:object="${signUpRequest}"
          style="margin: 0 auto" class="row g-3" >
        <!-- username -->
        <div class="col-12 mb-2">
            <label for="username" class="form-label fw-bold">1. Tên đăng nhập: </label>
            <input type="text" class="form-control" th:field="*{userName}" placeholder="tên đăng nhập">
<!--            <p style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>-->
            <div style="color:red" th:if="${#fields.hasErrors('userName')}">
                <span th:each="err,loop : ${#fields.errors('userName')}" th:if="${loop.count==1}" th:text="${err}"></span>
            </div>
        </div>
        <!-- password -->
        <div class="col-md-6 mb-2">
            <label for="password" class="form-label fw-bold">2. Mật khẩu: </label>
            <input type="password" class="form-control" th:field="*{password}" placeholder="mật khẩu">
            <div style="color:red" th:if="${#fields.hasErrors('password')}">
                <span th:each="err,loop : ${#fields.errors('password')}" th:if="${loop.count==1}" th:text="${err}"></span>
            </div>
        </div>
        <!-- rePassword -->
        <div class="col-md-6 mb-2">
            <label for="rePassword" class="form-label fw-bold">3. Nhập lại mật khẩu: </label>
            <input type="password" class="form-control" th:field="*{rePassword}">
            <div style="color:red" th:if="${#fields.hasErrors('rePassword')}">
                <span th:each="err,loop : ${#fields.errors('rePassword')}" th:if="${loop.count==1}" th:text="${err}"></span>
            </div>
        </div>

        <!-- fullname -->
        <div class="col-12 mb-2">
            <label for="fullname" class="form-label fw-bold">4. Họ và tên: </label>
            <input type="text" class="form-control" th:field="*{fullName}" placeholder="Nguyễn Văn A">
            <span style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
        </div>
        <!-- birthday -->
        <div class="col-md-6 mb-2">
            <label for="birthday" class="form-label fw-bold">5. Ngày sinh: </label>
            <input type="date" class="form-control" th:field="*{birthday}">
            <span style="color:red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
        </div>
        <!-- gender -->
        <div class="col-md-6 mb-2">
            <label for="gender" class="form-label fw-bold">6. Giới tính : </label>
            <select class="form-select" aria-label="Default select example" th:field="*{gender}">
                <option value="true">Male</option>
                <option value="false">Female</option>
            </select>
        </div>

        <!-- email -->
        <div class="col-12 mb-2">
            <label for="email" class="form-label fw-bold">7. Email: </label>
            <input type="text" class="form-control" th:field="*{email}" placeholder="nguyenvana@gmail.com">
            <div style="color:red" th:if="${#fields.hasErrors('email')}">
                <span th:each="err,loop : ${#fields.errors('email')}" th:if="${loop.count==1}" th:text="${err}"></span>
            </div>
        </div>
        <!-- phone -->
        <div class="col-12 mb-2">
            <label for="phone" class="form-label fw-bold">8. Số điện thoại: </label>
            <input type="text" class="form-control" th:field="*{phone}" placeholder="0932.xxx.xxx">
            <div style="color:red" th:if="${#fields.hasErrors('phone')}">
                <span th:each="err,loop : ${#fields.errors('phone')}" th:if="${loop.count==1}" th:text="${err}"></span>
            </div>
        </div>
        <!-- address -->
        <div class="col-12 mb-2">
            <label for="address" class="form-label fw-bold">9. Địa chỉ: </label>
            <input type="text" class="form-control" th:field="*{address}" placeholder="67 đường Hoa hồng, phường 10, quận Cam Sành, tỉnh Bưởi Ngọt">
            <span style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
        </div>

        <div class="col-12 text-center">
            <input type="submit" class="registerbtn" value="TẠO TÀI KHOẢN">
        </div>
        <div class="col-12 text-center">
            <p>Nếu bạn đã có tài khoản hãy chọn <a href="/auth/login">Đăng nhập</a>.</p>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>