<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>
<!-- Header Banner-->

<div class="header-banner" th:fragment="carousel">
    <div class="header-banner__box--left">
        <img class="header-banner__img-bottle" src="/images/header__bottle.png" alt="">
        <img class="header-banner__img-strawberry" src="/images/header__strawberry.png" alt="">
    </div>
    <div class="header-banner__box--right">
        <img class="header-banner__img-orange" src="/images/header__orange.png" alt="">
        <div class="header-banner__content">
            <p class="header-banner__content-first">
                <span>W</span>
                <span>e</span>
                <span>l</span>
                <span>c</span>
                <span>o</span>
                <span>m</span>
                <span>e</span>
                <span>,</span>
            </p>
            <p class="header-banner__content-second">
                <span>P</span>
                <span>h</span>
                <span>a</span>
                <span>t</span>
                <span>'s</span>
                &nbsp
                <span>J</span>
                <span>u</span>
                <span>i</span>
                <span>c</span>
                <span>e</span>
                &nbsp
                <span>B</span>
                <span>a</span>
                <span>r</span>
            </p>
        </div>
    </div>
</div>

</body>
</html>