<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ben Juice</title>


</head>

<body>

<th:block th:fragment="product(categories, products, catId, query, currentPage, size, totalPage, sort)">
    <!--    <th:block th:insert="home/component/carousel::carousel"></th:block>-->

    <!-- Header Bottom -->
    <div class="header-bottom" id="target">
        <p th:if="${query != ''}" th:text="'Kết quả tìm kiếm'"></p>

        <th:block th:unless="${query != ''}" >
            <p th:if="${catId == 0}" th:text="'Tất cả thức uống'"></p>
            <!-- -->
            <th:block th:unless="${catId == 0}" th:each="c,loop : ${categories}">
                <p th:if="${catId == c.id }" th:text="${c.name}"></p>
            </th:block>
        </th:block>

        <div class="header-bottom__menu-sort">
            Sắp xếp
            <ul>
                <li>
                    <a th:href="@{|?catId=${catId}&query=${query}&page=${currentPage}&size=${size}&sort=${'false'}|}">
                    Giá tăng dần</a>
                </li>
                <li>
                    <a th:href="@{|?catId=${catId}&query=${query}&page=${currentPage}&size=${size}&sort=${'true'}|}">
                    Giá giảm dần</a>
                </li>
            </ul>
        </div>
    </div>

   <!-- Body -->
    <main>
        <!-- Box Left-->
        <div class="main__box-left">
            <ul class="main__box-left__menu">
                <form action="/benjuice/product" method="get" class="menu_item main__box-left__search">
                    <input type="hidden" name="catId" th:value="${catId}">
                    <input type="text" class="main__box-left__input-search" id="text" name="query" th:value="${query}"
                           placeholder="Tìm kiếm">
                    <button type="submit" class="main__box-left__icon-search">
                        <i class="fa-solid fa-magnifying-glass fa-lg "></i>
                    </button>
                </form>

                <a href="/product" th:class="|menu_item ${catId==0 ? 'menu_item--now' : ''}|">Tất cả thức uống</a>

                <th:block th:each="c,loop:${categories}">
                    <a th:href="|/product?catId=${c.id}|"
                       th:class="|menu_item ${catId==c.id ? 'menu_item--now' : ''}|"
                       th:text="${c.name}">
                    </a>
                </th:block>

                <li class="menu_item main__box-left__cart" th:if="${session.userLogin != null}">
                    <a href="/cart">
                        Giỏ hàng của bạn
                        <i class="fa-solid fa-cart-shopping fa-sm"></i>
                        <span class="main__box-left__quantity-cart">0</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Box Right-->
        <th:block th:if="${products.size} >0">
            <div class="main__box-right">
                <!-- products -->
                <div class="main__box-right__list-products" id="list-products">
                    <th:block th:each="p, loop : ${products}">
                        <div class="product-item">
                            <div class="product-item__top">
                                <img class="product-item__top__img" th:src="${p.imageUrl}" alt="Ảnh sản phẩm">
                            </div>
                            <div>
                                <h3 class="product-item__name" th:text="${p.name}"></h3>
                                <p class="product-item__desc" th:utext="${p.description}"></p>
                            </div>

                            <div class="product-item__price">
                                <p th:text="${#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT') + ' vnđ'}"></p>
                                <div class="custom-btn">
                                    <span>Đặt món <i class="fa-solid fa-cart-plus fa-xs"></i></span>
                                    <div class="custom-dot"></div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <!--Pagination-->
                <div class="main__box-right__pagination">
                    <a th:style="${currentPage==0 ? 'pointer-events: none' : '' }"
                       th:href="@{|?catId=${catId}&query=${query}&page=${currentPage+(-1)}&size=${size}&sort=${sort}|}"
                    >
                        <span class="material-symbols-outlined arrow-back" style="user-select: none;">arrow_back_ios</span>
                    </a>
                    <ul>
                        <th:block th:each="page, loop : ${totalPage}">
                            <li th:class="|page-item ${currentPage==loop.index?'page--now':''}|">
                                <a th:href="@{|?catId=${catId}&query=${query}&page=${loop.index}&size=${size}&sort=${sort}|}"
                                   th:text="${loop.count}"></a>
                            </li>
                        </th:block>
                    </ul>
                    <a th:style="${(currentPage+1)==totalPage.length ? 'pointer-events: none' : '' }"
                       th:href="@{|?catId=${catId}&query=${query}&page=${currentPage+1}&size=${size}&sort=${sort}|}">
                        <span class="material-symbols-outlined arrow-forward" style="user-select: none; ">arrow_forward_ios</span>
                    </a>
                </div>

            </div>
        </th:block>
        <th:block th:unless="${products.size} > 0 ">
            <div class="main__box-right">
                <!-- products -->
                <div class="main__box-right__list-products">
                    <div class="product-not-found">
                        <p>Không tìm thấy</p>
                    </div>
                </div>

            </div>
        </th:block>
    </main>
    <script>
        window.onload = function() {
            let targetElement = document.getElementById('target');
            if (targetElement) {
                targetElement.scrollIntoView();
            }
        };
    </script>
</th:block>


</body>
</html>